.header{
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #3f51b5;
    padding: 15px;
    display: flex;
    align-items: center;
}
.logo{
    height: 35px;
    color: white;
}
.header h1{
    color: white;
    font-size: 22px;
}
.logoDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart{
    position: absolute;
    height: 35px;
    right: 100px;
}
